@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800 antialiased;
}

.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}